sitepackages
*.pyc
db.sqlite3
/dwebsummit/public/static/*
/dwebsummit/public/media/*
/dwebsummit/dwebsummit_frontend/static/css/main.css
/dwebsummit/dwebsummit_frontend/static/css/main.css.map
/upload.sh
