$green: #3fc380;
$blue: #4a90e2;
$mainfont: 'Stabil Grotesk', sans-serif;
$darkgrey: #111;
$lightdarkgrey: #666;

// dwebcamp 2019 colors
$color_sun: #ffcd03;
$color_grass: #bdc41e;
$color_ocean: #0071b9;
$color_soil: #b9750e;
