/* desktop styles */

@media (min-width: $responsive_width) {
  .db-desktop { display: block; }
  .hide-desktop { display: none; }
  .w90-desktop { width: 90%; }

  section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  #banner {
    margin-bottom: 1rem;
    min-height: 494px;
  }
  #signup {
    border-radius: 10px;
    text-align: left;
  }
  #slideshow {
    text-align: center;
  }
  footer {
    margin-top:0;
    text-align: center;
    .footer-nav {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
  }
  .p2p-row {
    margin-top: 0;
  }
  .hide-desktop {
    display:none !important;
  }
  div.hide-mobile {
    display: block !important;
  }
  span.hide-mobile {
    display: inline !important;
  }
  .schedule .grid {
    margin-bottom: 15px;
  }
  .schedule-toc div {
    display: inline-block;
    margin-right: 10px;
  }
  .unit.workshop {
    padding: 10px;
    margin-top:10px;
  }
  .page-Learn-More .schedule-toc {
    margin-bottom:30px;
  }
  .save-the-date {
    margin-bottom: 2.2rem;
    line-height: 1.6em;
  }
  .email-group {
    display: block;
  }
  .email-submit {
    display: inline-block;
    width: auto;
    margin-top: 1rem;
  }
  .conversation-type {
    margin-bottom: 0;
  }
  .save-info {
    font-size: 1.2em;
    text-align: center;
  }
  img.img-2016 {
    max-width: 60rem;
    margin:0 auto;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
  section.sponsors {
    .grid { padding-left:5px; }
    .lead-sponsors-grid, .sponsors-grid {
      .box { padding: 0 1rem; display: inline-block;}
    }
    .lead-sponsors-grid {
      .sponsor-img {
        height: 25rem;
        width: auto;
      }
    }
    .sponsors-grid {
      .sponsor-img {
        height: 10rem;
        width: auto;
      }
    }
  }
  section#related, .related-grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
