/* desktop styles */

@media only screen and (min-width: $responsive_width) {
  .grid.people.full-list {
    justify-content: flex-start;
  }
  .small-col {
    flex-basis:15%;
    margin: 0 8px 25px 8px;
  }
  .page-Home .small-col {
    flex-basis:9%;
  }
  .small-col .name, .small-col .subtitle {
    font-size: 13px !important;
  }
  .schedule .small-col {
    margin: 0 5px 10px 5px;
    flex-basis: 10%;
    overflow-x: hidden;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .schedule .small-col .name, .schedule .small-col .subtitle {
    font-size: 12px !important;
  }
  .db-desktop { display: block; }
  .hide-desktop { display: none; }
  .w90-desktop { width: 90%; }

  #modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .modalInnerEl {
    margin: 2rem;
    padding:4rem;
    overflow-y: scroll;
    max-width: 700px;
    min-height:400px;
  }
  .modal .modal-image img {
    max-width: 300px;
    border-radius:50%;
  }
  body.open-modal .main-body, body.open-modal footer, body.open-modal header {
    display:initial;
  }

  h1 {
    font-size: 5.0rem;
    line-height: 5.0rem;
  }
  h2 {
    font-size: 4.0rem;
    line-height: 4.0rem;
  }
  body {
    font-size: 1.9rem;
  }
  section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  #banner {
    margin-bottom:1rem;
    height:394px;
  }
  #banner-top-left {
    position:absolute;
    top:-40px;
    left:-40px;
    z-index:1;
  }
  .date-line {
    font-size: 2.5rem;
    line-height: 1.25em;
    margin-bottom: 1.5rem;
  }
  #location-row {
    // padding-top:8rem;
    // padding-bottom:8rem;
    // margin-bottom:0;
  }
  section#sponsors {
    img {
      max-width: 200rem;
      height: auto;
    }
    .box { padding: 2rem; }
    .grid { padding-left:5px; }
  }
  .sponsor-image-wrapper { text-align:left; }
  #signup {
    border-radius: 10px;
    text-align: left;
  }
  #decentralized-section {
    border-radius: 10px;
    text-align: left;
  }
  #invitation {
    padding-right: 0rem;
  }
  #slideshow {
    text-align: center;
  }
  #top-section h1 {
    margin-bottom: .75rem;
  }
  footer {
    margin-top:0;
    text-align: center;
  }
  .p2p-row {
    margin-top: 0;
  }
  .hide-desktop {
    display:none !important;
  }
  div.hide-mobile {
    display: block !important;
  }
  span.hide-mobile {
    display: inline !important;
  }
  .top-text {
    font-size: 2.25rem;
    line-height: 1.4;
    padding: 3rem 0;
  }
  .sponsor-image-wrapper {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .page-section {
    padding-left: 20px;
    padding-right: 20px;
  }
  .schedule .grid {
    margin-bottom: 15px;
  }
  .schedule-toc div {
    display: inline-block;
    margin-right: 10px;
  }
  #meetup {
    margin-top:150px;
  }
  .unit.workshop {
    padding: 10px;
    margin-top:10px;
  }
  .grid.workshops {

  }
  .science-fair {
    margin-top: 60px;
  }
  .science-fair .small-col {
    flex-basis: 8% !important;
  }
  .page-Science-Fair h2 {
  }
  .page-Learn-More .schedule-toc {
    margin-bottom:30px;
  }
  #livestream-iframe {
    width: 100%;
    height: 650px;
  }
  .save-the-date {
    margin-bottom: 2.2rem;
    line-height: 1.6em;
  }
  .icon-col {
    text-align: center;
    padding: 0rem 0 6rem 0;
  }
  .email-group {
    display: block;
  }
  .email-submit {
    display: inline-block;
    width: auto;
    margin-top: 1rem;
  }
  .conversation-type {
    margin-bottom: 0;
  }
  .save-info {
    font-size: 1.2em;
    text-align: center;
  }
  img.img-2016 {
    max-width: 60rem;
    margin:0 auto;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
  section#sponsors {
    .lead-sponsors-grid {
      .box {
        display: inline-block;
      }
      .sponsor-img {
        height: 15rem;
        width: auto;
      }
    }
  }
}
