
/* modal */
#modal {
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(100,100,100,0.5);
  z-index: 10000;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  backface-visibility: hidden;
}

.modalInnerEl {
  // box-shadow: 10px 10px 5px #ccc;
  background-color:white;
  padding:4rem 2rem;
  display: flex;
  flex-direction:column;
  position:relative;
  width:100%;
  min-height:100%;
  box-sizing:border-box;
  -webkit-overflow-scrolling: touch;
  backface-visibility: hidden;
}
.modalInnerEl a {
  word-wrap: break-word;
  word-break: break-all;
}

.modal .modal-contents {
  flex: 1;
}
.modal .close-wrapper {
  position:absolute;
  top:10px;
  right:10px;
}
.modal .modal-image {
  text-align:center;
  margin-bottom: 2rem;
  backface-visibility: hidden;
}
.modal .modal-image img {
  max-width: 100%;
  backface-visibility: hidden;
  border-radius: 50%;
}
.modal .modal-name {
  text-align:center;
}

.modal .modal-subtitle {
  font-size:1em;
  margin-bottom: 2rem;
}
.modal .modal-link {
  text-align:center;
}
.modal-bio {
  margin-top: 3rem;
}

.close-button {
  background: transparent;
  border: none;
  color: black;
  outline: none;
  cursor: pointer;
}

body.open-modal .main-body, body.open-modal footer, body.open-modal header  {
  display:none;
}



@media only screen and (min-width: $responsive_width) {
  #modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .modalInnerEl {
    margin: 2rem;
    padding:4rem;
    overflow-y: auto;
    max-width: 700px;
    min-height:400px;
  }
  .modal .modal-image img {
    max-width: 300px;
  }
  body.open-modal .main-body, body.open-modal footer, body.open-modal header {
    display:initial;
  }
}
