$header_size: 60px;
$responsive_width: 768px;
$main_container_width: 130rem;
$smaller_container_width: 80rem;

@import "reboot";
@import "base";
@import "gridism";
@import "material_icons";
@import "header";
@import "slider";
@import "wallop";
@import "modal";

$green: #3fc380;
$blue: #4a90e2;
$mainfont: ExecuReg, sans-serif;
$darkgrey: #111;
$lightdarkgrey: #666;


@font-face {
  font-family: 'ExecuReg';
  src: url('/static/fonts/ExecuReg.otf') format('opentype'),
      url('/static/fonts/ExecuReg.otf?#iefix') format('embedded-opentype');
}

html {
  font-family: $mainfont;
}

html, body { height: 100%; }
html { font-size: 62.5%; }
body {
  font-size: 2.0rem;
  line-height: 2.6rem;
  -webkit-overflow-scrolling: touch;
}

h1, h2 {
  margin-top:0;
  margin-bottom:0;
}
h1 {
  font-size: 4.0rem;
  line-height: 4.8rem;
  margin-bottom: 2rem;
  font-weight: normal;
}
h2 {
  font-size: 1.6rem;
  line-height: 2.0rem;
  font-weight: normal;
}
h3 {
  font-size: 2.0rem;
  line-height: 2.6rem;
  font-weight: normal;
  margin-bottom: 2.6rem;
}

td { vertical-align: top; padding-right: 5px; box-sizing: border-box;}
td img { box-sizing: border-box; }

code, pre {
  background-color: #eee;
  padding: 2px 3px;
  display:inline-block;
  font-size: 1.3rem;
  word-break: break-all;
  a {
    color: #999;
  }
}

a {
  color: black;
  text-decoration: none;
  &:hover {}
}

.a-style {
  background: url('/static/img/moving-underline.gif') repeat-x;
  background-position: 0 100%;
}

p {
  margin-bottom: 0;
  & + p {
    margin-top: 1.75rem;
  }

  a {
    @extend .a-style;
  }
}


/* utility classes */
.no-bottom-margin { margin-bottom: 0; }
.no-top-margin { margin-top: 0; }
.one-line-top-margin { margin-top: 2rem; }
.pt-light { padding-top: 3rem; }
.pb-light { padding-bottom: 3rem; }
.pb-heavy { padding-bottom: 8rem; }
.pt-heavy { padding-top: 8rem; }
.pv0 { padding-top: 0; padding-bottom: 0; }
.pt0 { padding-top: 0; }
.pr1 { padding-right: 1rem; }
.pl1 { padding-right: 1rem; }
.pr05 { padding-right: 0.5rem; }
.pl05 { padding-right: 0.5rem; }
.pr0 { padding-right: 0; }
.pl0 { padding-left: 0; }

.orange {color:#f39c12;}
.red {color:#c0392b;}
.green {color:$green;}
.blue {color:$blue;}
.grey {color:#ccc;}
.bg-grey { background-color: #eee; }
.white { color: white; }
.muted { color: #999; }

.w80 { width: 80%; }
.w90 { width: 90%; }
.w100 { width: 100%; }
.narrower { max-width:100rem; margin: 0 auto; }

.db { display: block; }

img.render-pixel {
  image-rendering: crisp-edges;
  // image-rendering: pixelated;
}

img.responsive {
  width: 100%;
  height: auto;
}
img.img-grey {
  filter: grayscale(100%);
  &:hover {
    filter: initial;
  }
}
img.js-dither {
  filter: grayscale(100%);
}

/* banner */
#banner {
  width: 100%;
  background-color: black;
  position: relative;
  display:block;
  overflow-x:hidden;
}
#banner .section {
  z-index:100;
  color: white;
  position:inherit;
  height:100%;
  width:100%;
  transition: opacity 1500ms linear;
}
#banner .section .grid {
  width:100%;
}
.register-now {
  color: yellow;
}

section, .section {
  max-width: $main_container_width;
  margin: 0 auto;
  padding: 3rem 2rem;

  &.full {
    max-width: 100%;
  }
}
section {
  a {
    word-wrap: break-word;
  }
  ul {
    margin:0;
    padding:0 0 0 2rem;
  }
}
.smaller-container {
  max-width: $smaller_container_width;
}

.grey-row {
  border-top: 1px solid #ccc;
  &.bottom-pad {
    padding-bottom:2rem;
    margin-bottom:6rem;
  }
}




.location-address {
  margin-bottom: 3rem;
  i.material-icons {
    font-size: .8em;
    position: relative;
    top: 2px;
  }
}
.location-email {
  margin-top: 3rem;
  i {
    position:relative;
    top: 2px;
    margin-right: 4px;
  }
}


.logistics-location {
  h3 {
    margin-bottom: 1rem;
  }
  .location-address {
    margin-bottom: 1rem;
    h4 {
      margin-bottom: 0;
      font-size: 2.222rem;
    }
  }
}

section#join-the-conversation {
  td {
    padding-bottom: 2rem;
    &:first {
      padding-right: 3rem;
    }
    vertical-align: top;
    i.material-icons {
      font-size: 4rem;
    }
    a { @extend .a-style; }
  }
}

#footer-wrapper {
  margin-top: 6rem;
}

footer {
  background-color: white;
  color:white;
  border-top: 1px solid #ccc;
  min-height: $header_size;
  cursor: default;
  text-align: left;
  .footer-nav {
    padding: 2rem;
    a { display: block; text-decoration: none; }
  }
  a {
    color: black;
    font-weight: lighter;
  }
  padding: 0;
}

.p2p-wrapper {
  a { color: white; word-break: break-all; }
  line-height: 2rem;
  background-color: $darkgrey;
  padding: 1.5rem;
  font-size: .7em;
}

.p2p-access-label {
  display: inline;
  color: white;
  margin-bottom: .5rem;
}
.p2p-row {
  margin-top: .5rem;
}

.placeholder {
  background-color: #ccc;
  width: 100%;
  height: 300px;
}

i.info-icon {
  position: relative;
  top: 2px;
  padding-right: 10px;
}

.page-Learn-More .schedule-toc {
  margin-bottom:30px;
}

.main-body {
  flex:1;
}

.bio-image {
  margin-bottom:2rem;
  border-radius: 50%;
}
.bio-name {
  text-align:center;
  /*font-style:italic;*/
}

.hide-desktop {
  display:initial;
}

/* people */
.grid.people {
  display: flex;
  flex-wrap: wrap;
  text-align:left;
  align-items: flex-start;
  align-content: center;
  justify-content: center;

  .left & {
    justify-content: flex-start;
  }
  &.left {
    justify-content: flex-start;
  }
}

.grid.people {
  img {
    box-sizing: border-box;
    border-radius: 50%;
    width:100%;
  }
  .unit {
     margin-bottom: 3rem;
     cursor: pointer;
   }
  .name {
    text-align: center;
    font-size: 1em;
    line-height: 1.25em;
    margin-top:0.75rem;
  }
  .short_bio {
    text-align: center;
    font-style: italic;
    color: #aaa;
    font-size:1em;
    line-height:1.4em;
    margin-top: 1em;
  }
}

.people-small, .people-large {
  margin: 2rem auto;
}


.people-small {
  .person {
    margin: 0 .5rem 1rem .5rem;
    flex-basis: 12rem;
    overflow-x: hidden;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
.people-large {
  .person {
    margin: 0 .5rem 1rem .5rem;
    flex-basis: 25rem;
    overflow-x: hidden;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.grid.people .subtitle, .modal .modal-subtitle {
  text-align: center;
  font-style: italic;
  color: #aaa;
  font-size:0.8em;
  line-height:1.4em;
  margin-top: 0.2em;
}

.caption {
  margin-top: 0.5rem;
  font-size: 0.75em;
  line-height:1.25em;
  color: #aaa;
}
.hidden-bio {
  display:none;
}


.person .name, .person .subtitle {
  font-size: 12px !important;
}
.schedule .grid.workshops .person {
  width: 100px;
}

.conversation-type {
  min-height: 5rem;
  margin-bottom: 2rem;
  & i.material-icons, .twitter-icon {
    font-size:2em;
    width:8rem;
    display:inline-block;
    text-align: left;
  }
}

.matrix-logo {
  height: 30px;
}
.matrix-text {
  color: grey;
}
.lightning-talks {
  padding: 10px;
  border: solid #ccc 2px;
  border-radius: 10px;
  margin-top:10px;
}
.lightning-talks .grid {
  margin-bottom:0;
}
.lightning-talks .unit {
  font-size: 1.5rem;
  line-height: 1.5em;
}
.lightning-talks img {
  height: 80px;
  width: auto;
  float:left;
  margin-right: 10px;
  position: relative;
  top: 5px;
}


.js-bio-unit {
  cursor: pointer;
}

.unit.workshop {
  padding: 10px;
  margin-top:10px;
}
.workshop-title {
}
.workshop-description {
  margin-bottom:15px;
}

.science-fair-row {
  margin-bottom:50px;
  border-bottom:1px solid #ccc;
  padding-bottom:30px;
}
.science-fair-title {
  font-size: 1.45em;
  margin-bottom: 20px;
}
.science-fair-short-description {
  font-style: italic;
  margin-bottom:20px;
}
.science-fair-full-description {
  margin-bottom:30px;
}
.science-fair-read-more {
  text-decoration: underline;
  color: #4a90e2;
}
.twitter-row {
  margin-top: 8px;
}
.twitter-row img {
  margin-right: 8px;
}
#livestream-iframe {
  width: 100%;
  height: 200px;
}

.page-intro {
  margin-top: 30px;
  text-align:center;
}

#slideshow {
  position: relative;
  text-align: left;
  line-height: 1.5em;
  max-width: 90%;
  & .Wallop {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  & .slideshow-footer {
    font-size: 1.75rem;
    line-height: 2.5rem;
    padding: 10px 0;
    display:block;
    margin-bottom:0;
  }
}

section.sponsors {
  .lead-sponsors-grid, .sponsors-grid {
    .box {
      margin-bottom: 1rem;
      display: block;
      text-align: center;
    }
    .sponsor-img {
      width: auto;
      max-width: 100%;
    }
  }
  .lead-sponsors-grid {
    .sponsor-img {
      height: 13rem;
    }
  }
  .sponsors-grid {
    .sponsor-img {
      height: 7rem;
    }
  }
  .sp-footer {
    margin-top: 5rem;
    color: black;
  }
}

.img-2016-wrapper {
  text-align:center;
}

img.img-2016 {
  max-width: 100%;
  margin:0 auto;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

/* what to expect page */
.event-outline-table {
  width: 100%;
  td, th {
    padding: 1.5rem;
    background-color: #fff;
    font-size: 1.6rem;
    line-height: 1.5;
    width: 25%;
  }
  tr + tr {
    border-top: 1px solid #999;
  }
  td:nth-child(2n) {
    background-color: #fafafa;
  }
  th {
    color: white;
    background-color: black;
    font-weight: normal;
  }
}
.event-outline-day-mobile {
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  & + .event-outline-day-mobile {
    margin-top: 4rem;
  }
  li, h3 {
    padding: .5rem 1rem .75rem 1rem;
    font-size: 1.4rem;
    line-height: 1.75;
  }
  h3 {
    color: white;
    background-color: black;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
  }
  li {
    background-color: #fff;
    & + li {
      margin-top: .75rem;
    }

    &:nth-child(2n) {
      background-color: #eee;
    }
  }
}

/* the editor preview in the admin */
.cke_editable.cke_editable_themed {
  padding: 1rem;
  img {
    max-width: 400px;
    height: auto !important;
    display: block;
    margin: 0 auto;
  }
}

/* text-page styles */
.text-page h1 {
  text-align: center;
  margin: 5rem 2rem 5rem 2rem;
}
.banner-image {
  width: 100%;
  height: auto;
  // padding: 0 2rem 0 2rem;
  margin-top: 0;
  margin-bottom: 5rem;
}
.page-body-contents {
  max-width: $smaller_container_width;
  margin: 0 auto;
  > p {
    position: relative;
    text-align: left;

  }
  p + p {
    margin-top: 4rem;
  }
  img {
    position: relative;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 0rem;
    max-width: 100%;
    // left: -10%;
    height: auto !important;
  }

}

section#related, .related-grid {
  .related-page {
    display: inline-block;
    vertical-align: top;
    width: 407px;
  }
  .related-grid-image {
    background-size: fit;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-color: rgba(255, 255, 0, 0);
    // -webkit-transition: background-color 250ms linear;
        // -ms-transition: background-color 250ms linear;
            // transition: background-color 250ms linear;

    /* for ie */
    width: 407px;
    height: 275px;
    &:hover {
      background-color: rgba(255, 255, 0, .5);
    }
  }
}

@supports (grid-area: auto) {
  section#related, .related-grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);

    .related-page {
      display: block;
      width: initial;
    }
    .related-grid-image {
      width: initial;
      overflow: hidden;
      height: 0;
      /* height / width keeps the aspect ratio */
      padding-top: 275px / 407px * 100%;
    }
  }
}

.related-page-title {
  margin-top: 1rem;
}

section#page-nav {
  display: flex;
  flex-direction: columns;
   justify-content: space-between;
  align-items: center;
}


/* Mobile-only styles */
@media (max-width: $responsive_width) {
  .mb2-mobile { margin-bottom: 2rem; }
  .db-mobile { display: block; }
  .hide-mobile { display: none !important;}
  .home-col + .home-col { margin-top: 3rem; }
  /* for when grid collapses */
  .unit + .unit {
    margin-top: 2rem;
  }
  .grid .unit {
    padding-right: 0;
  }
  section#join-the-conversation {
    .email { font-size: .8em }
  }
}

@import "desktop";
