$header_size: 60px;
$responsive_width: 768px;


@import "reboot";
@import "base";
@import "gridism";
@import "material_icons";
@import "header";
@import "slider";
@import "wallop";

$green: #3fc380;
$blue: #4a90e2;
$mainfont: Roboto, sans-serif;
$darkgrey: #111;

html {
  font-family: $mainfont;
}

html, body { height: 100%; }
html { font-size: 62.5%; }
body {
  font-size: 1.8rem;
  line-height: 1.8rem * 1.66;
  -webkit-overflow-scrolling: touch;
}

h1, h2 {
  margin-top:0;
  margin-bottom:0;
}
h1 {
  font-size: 4.0rem;
  line-height: 4.0rem;
  letter-spacing:2px;
  margin-bottom: 1.5rem;
}
h2 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 300;
  color: #3fc380;
  margin-bottom:3.0rem;
}


td { vertical-align: top; padding-right: 5px; box-sizing: border-box;}
td img { box-sizing: border-box; }

code, pre {
  background-color: #eee;
  padding: 2px 3px;
  display:inline-block;
  font-size: 1.3rem;
  word-break: break-all;
  a {
    color: #999;
  }
}

a {
  color: rgb(0, 153, 255);
  text-decoration: none;
}

p {
  margin-bottom: 0;
  & + p {
    margin-top: 1.75rem;
  }
}


/* utility classes */
.no-bottom-margin { margin-bottom: 0; }
.no-top-margin { margin-top: 0; }
.one-line-top-margin { margin-top: 2rem; }
.pt-light { padding-top: 3rem; }
.pb-light { padding-bottom: 3rem; }
.pb-heavy { padding-bottom: 8rem; }
.pt-heavy { padding-top: 8rem; }

.orange {color:#f39c12;}
.red {color:#c0392b;}
.green {color:$green;}
.blue {color:$blue;}
.grey {color:#ccc;}
.bg-grey { background-color: #eee; }
.white { color: white; }
.muted { color: #999; }

.w80 { width: 80%; }
.w90 { width: 90%; }
.w100 { width: 100%; }
.narrower { max-width:100rem; margin: 0 auto; }

img.responsive {
  max-width: 100%;
  height: auto;
}


/* banner */
#banner {
  width: 100%;
  background-color: #22313f;
  height: 374px; /* magic number */
  position: relative;
  /*margin-bottom:100px;*/
  display:block;
  overflow-x:hidden;
}
#c, #e {
  position: absolute;
  z-index:0;
  top:0;
  left:0;
  transition: opacity 2500ms linear;
}
#banner .section {
  z-index:100;
  color: white;
  position:inherit;
  height:100%;
  width:100%;
  text-align:center;
  transition: opacity 1500ms linear;
  /* flexbox */
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
      -ms-flex-direction: row;
  -webkit-flex-direction: row;
          flex-direction: row;
       -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
}
#banner .section .grid {
  width:100%;
}
#banner-top-left {
  position:absolute;
  top:-80px;
  left:-100px;
  z-index:1;
}
#banner-bottom-right {
  position:absolute;
  bottom:0;
  right:0;
  z-index:1;
  display:none;
}
section, .section {
  max-width: 130rem;
  margin: 0 auto;
  padding: 3rem 1rem;

  &.full {
    max-width: 100%;
  }
}
section {
  a {
    word-wrap: break-word;
  }
  ul {
    margin:0;
    padding:0 0 0 2rem;
  }
}

.grey-row {
  border-top: 1px solid #ccc;
  &.bottom-pad {
    padding-bottom:2rem;
    margin-bottom:6rem;
  }
}

.subheader {
  font-weight:bold;

  &.advanced-reading {
    margin-top:2rem;
    margin-bottom:2rem;
  }
  &.pad-bottom {
    margin-bottom:2rem;
  }
}
.register-now a {
  margin-top: 2rem;
  font-size: .9em;
  background: white;
  display:inline-block;
  padding: .6rem 1.4rem;
  border-radius: 5px;
  background-color: transparent;
  line-height: 1.6em;
  border: 2px solid $green;
  transition: all .5s linear;
  &:hover {
    cursor: pointer;
    border: 2px solid lighten($green, 15%);
    color: lighten($green, 15%);
    text-decoration: none;
  }
  color: $green;
}
.email-group {
  display: block;
}
.email-label {
  margin-right: 1rem;
}
.email-input {
  margin-right: .25rem;
}
.email-submit {
  display: block;
  width: 100%;
  margin-top: 1.5rem;
  background-color: #3fc380;
  border: #3fc380;
  border-radius: 5px;
  color: white;
  font-size: .8em;
  padding: 0 1.25rem;
  cursor: pointer;
}
.date-line {
  font-size:2.2rem;
}
.date-line a {
  color: white;
  text-decoration:none;
}
.date-line a:hover {
  color: #ccc;
  text-decoration:none;
}
.top-text {
  font-size: 2rem;
  line-height: 1.4;
  padding: 1rem 0;
}
#top-section {
  padding:0;
}
#top-section h1 {
  margin-bottom: 1.75rem;
  line-height: 1.1em;
}
.top-subtitle {
  font-family: $mainfont;
  color: $blue;
  margin-bottom: 2rem;
  font-size: 1.25em;
  display:block;
}
.mobile-subtitle {
  font-family: $mainfont;
  color: $blue;
  margin-bottom: 1.5rem;
  font-size: 1.2em;
  font-weight: bold;
}
#location-row {
  background-image:url(../img/300funston.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  span {
    color:#fff;
    font-weight:bold;
  }
  .white {
    letter-spacing: .05em;
    margin-bottom: 1rem;
  }
  .location-address {
    margin-bottom: 3rem;
    i.material-icons {
      font-size: .8em;
      position: relative;
      top: 2px;
    }
    a {
      color: white;
      font-weight:bold;
      font-size: 3rem;
      line-height: 1.2em;
    }
  }
  .location-email {
    margin-top: 3rem;
    a {
      text-decoration: underline;
      color: white;
    }
    & i {
      color: white;
      position:relative;
      top: 2px;
      margin-right: 4px;
    }
  }
  .static-map {
    border: 5px solid #333;
  }
}
.logistics-location {
  h3 {
    margin-bottom: 1rem;
  }
  .location-address {
    margin-bottom: 1rem;
    h4 {
      margin-bottom: 0;
      font-size: 2.222rem;
    }
  }
}

#signup {
  padding-left:2rem;
  padding-right:2rem;
  padding-top:2rem;
  padding-bottom: 2rem;
  margin-bottom:4rem;
  text-align: left;
  a {
    font-size: 1.25em;
  }
}
#decentralized-section {
  padding-left:2rem;
  padding-right:2rem;
  margin-bottom: 4rem;
  padding-top:2rem;
  padding-bottom: 2rem;
  text-align: left;
}
#invitation {
  padding-bottom: 3rem;
  font-size: 1.1em;
  line-height: 1.5em;
  font-family: Georgia;
  & p {
    margin-bottom: 1.25em;
  }
}
.save-info {
  margin-top: 2rem;
  font-weight: bold;
  font-family: $mainfont;
}

#extra-info-section .unit {
  margin-bottom:0;
  padding-bottom:0;
}


section#join-the-conversation {
  & td {
    padding-bottom: 2rem;
    padding-right: 3rem;
    vertical-align: top;
    & i.material-icons {
      font-size: 4rem;
    }
  }
}

footer {
  font-family: monospace;
  font-size:.85em;
  line-height: 2rem;
  background-color: $darkgrey;
  color:#666;
  min-height: $header_size;
  cursor: default;
  text-align: left;
  a {
    color: #666;
    text-decoration: none;
    font-weight: lighter;
    &:hover {
      color: #cecece;
    }
    word-break: break-all;
  }
  section {
    padding: 2rem;
  }
}

.p2p-access-label {
  color: #999;
  font-family: sans-serif;
  margin-bottom: .5rem;
  font-size: .9em;
  a {
    color: #999;
  }
}
.p2p-row {
  margin-top: .5rem;
}

.placeholder {
  background-color: #ccc;
  width: 100%;
  height: 300px;
}


.icon-col {
  font-size:400%;
  padding: 1rem 0 2rem 0;
  height: 100%;
  text-align: left;
}

i.info-icon {
  position: relative;
  top: 2px;
  padding-right: 10px;
}


/* page */
section.page-section {
  padding-bottom: 5rem;
}

/* learn more page */
section.page-section > h3 {
  margin-top: 4rem;
}
section.page-section.learn-more li {
  margin-bottom:1rem;
  font-size: .85em;
  line-height: 1.75em;
}
.page-Learn-More .schedule-toc {
  margin-bottom:30px;
}

.main-body {
  flex:1;
}


.bio-image {
  margin-bottom:2rem;
  border-radius: 50%;
}
.bio-name {
  text-align:center;
  /*font-style:italic;*/
  font-weight:bold;
}

.hide-desktop {
  display:initial;
}

/* people */


.grid.people img {
  box-sizing: border-box;
  border-radius: 50%;
  width:100%;
}
.grid.people img:hover {
  border:0.5rem solid #3fc380;
}
.grid.people .unit {
   margin-bottom: 3rem;
   cursor: pointer;
}
.grid.people .name {
  text-align: center;
  font-size: 1em;
  line-height: 1.25em;
  margin-top:0.75rem;
}
.grid.people .subtitle, .modal .modal-subtitle {
  text-align: center;
  font-style: italic;
  color: #aaa;
  font-size:0.8em;
  line-height:1.4em;
  margin-top: 0.2em;
}

.grid.people .short_bio {
  text-align: center;
  font-style: italic;
  color: #aaa;
  font-size:1em;
  line-height:1.4em;
  margin-top: 1em;
}

.page-People .grid {
  margin-bottom: 8rem;
}

.page-Code-of-Conduct #footer-wrapper {
  display: none;
}

.caption {
  margin-top: 0.5rem;
  font-size: 0.75em;
  line-height:1.25em;
  color: #aaa;
}
.hidden-bio {
  display:none;
}

.schedule {
  line-height: 1.25em;
  font-weight:400;
  margin-bottom: 60px;
}
.schedule .grid.schedule-row {
  margin-bottom: 35px;
  padding-bottom: 15px;
  border-bottom:1px solid #ccc;
}
.schedule .time {
  margin-bottom: 10px;
  display:block;
  color: #3fc380;
}
.schedule-intro {
  margin-bottom: 40px;
}
.schedule .title {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-top:-6px;
  margin-bottom: 14px;
}

.schedule-side-table td {
  vertical-align: top;
  padding: 3px;
}
.schedule-side-people {
  line-height: 1.6em;
  font-size: .8em;
  margin-bottom: 15px;
}
.schedule .grid.people {
  margin-top: 20px;
}

.schedule-h3 {
  background-color: #4a90e2;
  padding: 5px 9px;
  color: white;
  margin-bottom: 50px;
  font-weight: normal;
}



/* modal */
#modal {
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(100,100,100,0.5);
  z-index: 10000;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  backface-visibility: hidden;
}

.modalInnerEl {
  box-shadow: 10px 10px 5px #ccc;
  background-color:white;
  padding:4rem 2rem;
  display: flex;
  flex-direction:column;
  position:relative;
  width:100%;
  min-height:100%;
  box-sizing:border-box;
  -webkit-overflow-scrolling: touch;
  backface-visibility: hidden;
}
.modalInnerEl a {
  word-wrap: break-word;
  word-break: break-all;
}

.modal .modal-contents {
  flex: 1;
}
.modal .close-wrapper {
  position:absolute;
  top:10px;
  right:10px;
}
.modal .modal-image {
  text-align:center;
  margin-bottom: 2rem;
  backface-visibility: hidden;
}
.modal .modal-image img {
  max-width: 100%;
  border-radius:50%;
  backface-visibility: hidden;
}
.modal .modal-name {
  text-align:center;
}

.modal .modal-subtitle {
  font-size:1em;
  margin-bottom: 2rem;
}
.modal .modal-link {
  text-align:center;
}
.modal-bio {
  margin-top: 3rem;
}


body.open-modal .main-body, body.open-modal footer, body.open-modal header  {
  display:none;
}


.grid.people.full-list {
  display: flex;
  flex-wrap: wrap;
  text-align:left;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
}
.small-col {
  margin: 0 5px 10px 5px;
  flex-basis: 29%;
  overflow-x: hidden;
  flex-grow: 0;
  flex-shrink: 0;
}
.small-col .name, .small-col .subtitle {
  font-size: 12px !important;
}
.schedule .grid.workshops .small-col {
  width: 100px;
}

.conversation-type {
  min-height: 5rem;
  margin-bottom: 2rem;
  & i.material-icons, .twitter-icon {
    font-size:2em;
    width:8rem;
    display:inline-block;
    text-align: left;
  }
}

.matrix-logo {
  height: 30px;
}
.matrix-text {
  color: grey;
}
.lightning-talks {
  padding: 10px;
  border: solid #ccc 2px;
  border-radius: 10px;
  margin-top:10px;
}
.lightning-talks .grid {
  margin-bottom:0;
}
.lightning-talks .unit {
  font-size: 1.5rem;
  line-height: 1.5em;
}
.lightning-talks img {
  height: 80px;
  width: auto;
  float:left;
  margin-right: 10px;
  position: relative;
  top: 5px;
}




.google-form-raw {
  margin-top: 40px;
  border: 2px solid #4a90e2;
  border-radius: 10px;
  padding: 10px 20px 0 10px;
  font-size:1.4rem;
  line-height: 2.8rem;
  margin-right: 20px;
}
.google-form-raw .form-title {
  font-weight:bold;
  font-size: 1.8rem;
}
.google-form-raw textarea {
  width: 100%;
  max-width: 400px;
  height: 200px;
  border: 1px solid #ccc;
}
.google-form-raw input {
  border: 1px solid #ccc;
}
.google-form-raw .required-message {
  color: #999;
}
.google-form-raw li {
  margin-bottom: 0;
}
.google-form-raw .ss-password-warning {
  display: none;
}
#entry_1847788663 {
  height: 100px;
}

.js-bio-unit {
  cursor: pointer;
}

.unit.workshop {
  padding: 10px;
  margin-top:10px;
}
.workshop-title {
  font-weight:bold;
}
.workshop-description {
  margin-bottom:15px;
}

.science-fair-row {
  margin-bottom:50px;
  border-bottom:1px solid #ccc;
  padding-bottom:30px;
}
.science-fair-title {
  font-weight:bold;
  font-size: 1.45em;
  margin-bottom: 20px;
}
.science-fair-short-description {
  font-style: italic;
  margin-bottom:20px;
}
.science-fair-full-description {
  margin-bottom:30px;
}
.science-fair-read-more {
  text-decoration: underline;
  color: #4a90e2;
}
.twitter-row {
  margin-top: 8px;
}
.twitter-row img {
  margin-right: 8px;
}
#livestream-iframe {
  width: 100%;
  height: 200px;
}

.video-unit {
  margin-bottom: 20px;
}
.video-title {
  text-align: center;
  font-size: 1.45rem;
  line-height: 2rem;
  font-weight:400;
  margin-top: 10px;
  color: #4a90e2;
}
.video-subtitle {
  text-align: center;
  font-size: 1.45rem;
  line-height: 2.25rem;
  font-weight:400;
  margin-top: 3px;
  margin-bottom:20px;
  color: #000;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}
.video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page-intro {
  margin-top: 30px;
  text-align:center;
}

#slideshow {
  position: relative;
  text-align: left;
  line-height: 1.5em;
  max-width: 90%;
  & .Wallop {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  & .slideshow-footer {
    font-size: 1.75rem;
    line-height: 2.5rem;
    padding: 10px 0;
    display:block;
    margin-bottom:0;
  }
}

section#sponsors {
  .lead-sponsors-grid {
    .box {
      // padding: 1rem;
      margin-bottom: 2rem;
      display: block;
      text-align: center;
    }
    .sponsor-img {
      height: 13rem;
      width: auto;
    }
  }
  .footer {
    color: black;
  }
}

.img-2016-wrapper {
  text-align:center;
}

img.img-2016 {
  max-width: 100%;
  margin:0 auto;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

/* what to expect page */
.event-outline-table {
  width: 100%;
  td, th {
    padding: 1.5rem;
    background-color: #fff;
    font-size: 1.6rem;
    line-height: 1.5;
    width: 25%;
  }
  tr + tr {
    border-top: 1px solid #999;
  }
  td:nth-child(2n) {
    background-color: lighten($blue, 35%);
  }
  th {
    color: white;
    font-weight: bold;
    background-color: $blue;
  }
}
.event-outline-day-mobile {
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  & + .event-outline-day-mobile {
    margin-top: 4rem;
  }
  li, h3 {
    padding: .5rem 1rem .75rem 1rem;
    font-size: 1.4rem;
    line-height: 1.75;
  }
  h3 {
    color: white;
    font-weight: bold;
    background-color: $blue;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
  }
  li {
    background-color: #fff;
    & + li {
      margin-top: .75rem;
    }

    &:nth-child(2n) {
      background-color: #eee;
    }
  }
}

/* Mobile-only styles */
@media only screen and (max-width: $responsive_width) {
  .mb2-mobile { margin-bottom: 2rem; }
  .db-mobile { display: block; }
  .hide-mobile { display: none !important;}
  .home-col + .home-col { margin-top: 3rem; }
  .home-col {
    & .icon-col, & .subheader {
      text-align: center;
    }
  }
  /* for when grid collapses */
  .unit + .unit {
    margin-top: 2rem;
  }
}

@import "desktop";
