<div id="footer-wrapper">
  <footer>
    <section>
        <div class="p2p-access-label">Access this website on <a href="https://datproject.org">Dat</a></div>
        <div class="p2p-row">
          <a href="https://datproject.org">Dat</a>&nbsp;&mdash;&nbsp;<a href="dat://445b0dbc94c371e6f3a2e80da8b1107cc8f6ba13e65318c43018a8d94ef8254a">dat://445b0dbc94c371e6f3a2e80da8b1107cc8f6ba13e65318c43018a8d94ef8254a</a>
        </div>
        <!--
        <div class="p2p-row">
          <a href="https://ipfs.io">IPFS</a>&nbsp;&mdash;&nbsp;<a href="http://ciqauvzqe3ztsnbf7ra4oceg5voqrerodzsp3unxrohjtvs7drv62gy.ipfs.neocitiesops.net">QmP31tvm5m2DtPaBc69eCKmb35uc3XBXXftJLuFeNSDwfQ</a>
        </div>
        -->
  </footer>
</div>
