<div id="footer-wrapper">
  <footer>
      <div class="footer-nav narrower">
        {% for link in footer_links %}
          {% if link.external_url %}
            <a href="{{link.external_url}}">{{link.title}}</a>
          {% elif link.page %}
            <a href="/{{link.page.page_url}}">{{link.title}}</a>
          {% endif %}
        {% endfor %}
      </div>
      <div class="p2p-wrapper">
        <div class="p2p-row">
          <div class="p2p-access-label">Access this website on <a href="https://datproject.org">Dat</a> &mdash; </div>
          <a href="dat://445b0dbc94c371e6f3a2e80da8b1107cc8f6ba13e65318c43018a8d94ef8254a">dat://445b0dbc94c371e6f3a2e80da8b1107cc8f6ba13e65318c43018a8d94ef8254a</a>
        </div>
        <!--
        <div class="p2p-row">
          <a href="https://ipfs.io">IPFS</a>&nbsp;&mdash;&nbsp;<a href="http://ciqauvzqe3ztsnbf7ra4oceg5voqrerodzsp3unxrohjtvs7drv62gy.ipfs.neocitiesops.net">QmP31tvm5m2DtPaBc69eCKmb35uc3XBXXftJLuFeNSDwfQ</a>
        </div>
        -->
      </div>
  </footer>
</div>
