<header class="header">
  <div class="hide-mobile logo">
    <a href="/">
      <span><i class="green material-icons">share</i></span>
      <span class="header-title-desktop">Decentralized Web Summit</span>
     </a>
  </div>
  <div class="header-title hide-desktop">
    <a href="/">#DWebSummit</a>
  </div>
  <input class="menu-btn" type="checkbox" id="menu-btn"  aria-label="Menu Button" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li class="hide-desktop"><a href="/">Home</a></li>
    <li><a href="/logistics/">Logistics</a></li>
    <li><a href="/what-to-expect/">What To Expect</a></li>
  </ul>
</header>
