{% macro render_link(link) -%}
  {% if link.external_url %}
    <a href="{{link.external_url}}">{{link.title}}</a>
  {% elif link.page %}
    {% if link.page.page_url == "" %}
      <a href="/">{{link.title}}</a>
    {% else %}
      <a href="{{link.page.page_url_abs}}">{{link.title}}</a>
    {% endif %}
  {% endif %}
{%- endmacro %}


<header class="header">
  <a class="logo header-title" href="/">
    <div class="logo-container">
      <img src="/static/img/logo.svg" class="logo-image" />
      <span class="site-name">
        DWeb Camp
      </span>
    </div>
  </a>
  <div class="image-container">
    <div class="image-cover">
      <ul class="hide-mobile featured-nav">
        {% for link in navbar_links %}
          {% if link.is_featured %}
            <li>{{render_link(link)}}</li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="menu">
        {% for link in navbar_links %}
          <li>{{render_link(link)}}</li>
        {% endfor %}
      </ul>
      <div class="header-content">
        July 18-21, 2019 <a href="#" class="arrow-link">Register</a>
      </div>
    </div>
  </div>
  <input class="menu-btn" type="checkbox" id="menu-btn"  aria-label="Menu Button" />
  <label class="menu-icon" for="menu-btn">
    <span class="navicon"></span>
  </label>
</header>
