<div class="grid">
  <div class="location-block unit pr05 half">
    <div class="location-address">
      <a href="https://maps.google.com/maps?q=Internet+Archive%2C+300+Funston+Avenue%2C+San+Francisco%2C+CA">
        <img class="db hide-mobile responsive js-dither" src="/static/img/ia-black.jpg" />
        <div>Opening Party: Internet Archive</div>
        <div>
          <i class="material-icons hide-desktop">place</i>
          Internet Archive, 300 Funston Ave, San Francisco, CA
        </div>
      </a>
    </div>
  </div>

  <div class="location-block unit pr0 pl05 half">
    <div class="location-address">
      <a href="https://maps.google.com/maps?q=The+San+Francisco+Mint%2C+88+5TH+Street%2C+San+Francisco%2C+CA">
        <img class="db hide-mobile responsive js-dither" src="/static/img/mint-black.jpg" />
        <div>Summit: August 1–2</div>
        <div>
          <i class="material-icons hide-desktop">place</i>
          San Francisco Mint, 88 5th St, San Francisco, CA
        </div>
      </a>
    </div>
  </div>
</div>
