{# a macro to render an array of people objects #}

{% macro people_grid(people, is_featured_organizer=False) -%}
  <div class="grid people">
  {% for attendee in people %}
    <div class="person js-bio-unit">
      <img width="300" height="300" src="{{attendee.image.thumbnail.url}}" />
      <div class="name">{{attendee.name}}</div>
      {% if is_featured_organizer %}
      <div class="subtitle">{{attendee.featured_organizer_text}}</div>
      {% else %}
      <div class="subtitle">{{attendee.subtitle}}</div>
      {% endif %}
      <div class="hidden-bio">
        <div>
          <div class="modal-image"><img class="" width="300" height="300" src="{{attendee.image.thumbnail.url}}" /></div>
          <div class="modal-name">{{attendee.name}}</div>
          <div class="modal-subtitle">
            {{attendee.subtitle}}
            {% if is_featured_organizer %}
            <p>{{attendee.featured_organizer_text}}</p>
            {% endif %}
          </div>
          <div>{{attendee.bio|safe}}</div>
          {% if attendee.video_set.all()[0] %}
            <div>&nbsp;</div>
            <h3 class="no-bottom-margin">Videos from the summit:</h3>
            <ul class="modal-video-list">
              {% for video in attendee.video_set.all() %}
                <li><a href="{{video.page_url_abs}}">{{video.title}}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{%- endmacro %}


{% macro people_list(people) -%}
<div class="people-list people">
  {% for attendee in people %}
  <div class="row js-bio-unit pb-light">
    <div class="person ">
      <img width="300" height="300" src="{{attendee.image.thumbnail.url}}" />
      <div class="hidden-bio">
        <div>
          <div class="modal-image"><img class="" width="300" height="300" src="{{attendee.image.thumbnail.url}}" /></div>
          <div class="modal-name">{{attendee.name}}</div>
          <div class="modal-subtitle">{{attendee.subtitle}}</div>
          <div>
            <p>{{attendee.featured_organizer_text}}</p>
            {{attendee.bio|safe}}
          </div>
          {% if attendee.video_set.all()[0] %}
            <div>&nbsp;</div>
            <h3 class="no-bottom-margin">Videos from the summit:</h3>
            <ul class="modal-video-list">
              {% for video in attendee.video_set.all() %}
                <li><a href="{{video.page_url_abs}}">{{video.title}}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="person-text">
      <div>{{attendee.name}}</div>
      <div class="i muted">{{attendee.subtitle}}</div>
      <div class="i muted">{{attendee.featured_organizer_text}}</div>
      <a href="javascript:return;"><small>Read More</small></a>
    </div>
  </div>
  {% endfor %}
</div>
{%- endmacro %}
