{# a macro to render an array of people objects #}

{% macro related_grid(pages, include_people=True) -%}
  {% for page in pages %}
    <a class="related-page" href="{{page.page_url_abs}}">
      {% if page.banner_image %}
        <div class="related-grid-image render-pixel" style="background-image:url({{page.banner_image.grid_d.url}});"></div>
      {% else %}
        <div class="related-grid-image" style="background-image:url(/static/img/grid-placeholder.svg);"></div>
      {% endif %}
      <div class="related-page-title">
        {{page.title}}
        {% if include_people %}
          {% set person_list = page.person_list %}
          {% if person_list %}
            <br>{{page.person_list}}
          {% endif %}
        {% endif %}
      </div>
    </a>
  {% endfor %}
{%- endmacro %}
