{# a macro to render an array of people objects #}

{% macro related_grid(pages, include_people=True) -%}
  {% for page in pages %}
    <div class="related-page">
      <a href="{{page.page_url_abs}}">
        <div class="tint">
          {% if page.banner_image %}
            <img class="render-pixel" src="{{page.banner_image.grid_d.url}}" />
          {% else %}
            <img src="/static/img/grid-placeholder.svg" />
          {% endif %}
        </div>
        <div class="related-page-title">
          {{page.title}}
          {% if include_people %}
            {% set person_list = page.person_list %}
            {% if person_list %}
              <br>{{page.person_list}}
            {% endif %}
          {% endif %}
        </div>
      </a>
    </div>
  {% endfor %}
{%- endmacro %}
