{# a macro to render an array of people objects #}

{% macro people_grid(people) -%}
  <div class="grid people">
  {% for attendee in people %}
    <div class="person js-bio-unit">
      <img class="img-grey" src="{{attendee.image.thumbnail.url}}" />
      <div class="name">{{attendee.name}}</div>
      <div class="subtitle">{{attendee.subtitle}}</div>
      <div class="hidden-bio">
        <div>
          <div class="modal-image"><img class=""  src="{{attendee.image.thumbnail.url}}" /></div>
          <div class="modal-name">{{attendee.name}}</div>
          <div class="modal-subtitle">{{attendee.subtitle}}</div>
          <div>{{attendee.bio|safe}}</div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{%- endmacro %}


{% macro people_list(people) -%}
<div class="people-list people">
  {% for attendee in people %}
  <div class="row js-bio-unit">
    <div class="person ">
      <img class="img-grey" src="{{attendee.image.thumbnail.url}}" />
      <div class="name">{{attendee.name}}</div>
      <div class="subtitle">{{attendee.subtitle}}</div>
      <div class="hidden-bio">
        <div>
          <div class="modal-image"><img class=""  src="{{attendee.image.thumbnail.url}}" /></div>
          <div class="modal-name">{{attendee.name}}</div>
          <div class="modal-subtitle">{{attendee.subtitle}}</div>
          <div>
            <p>{{attendee.featured_organizer_text}}</p>
            {{attendee.bio|safe}}
          </div>
        </div>
      </div>
    </div>
    <div class="person-text">
      {{attendee.featured_organizer_text}}<br>
      <a href="javascript:return;">Read More</a>
    </div>
  </div>
  {% endfor %}
</div>
{%- endmacro %}
