<script src="/static/js/vendor/noframework.waypoints.min.js"></script>
<script src="/static/js/vendor/Wallop.min.js"></script>


<div id="js-slider" class="Wallop Wallop--slide">
    <div class="Wallop-list">

      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/DecentralizedWeb20160608pt1_0248.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/Group%20Photo%20in%20Rotunda%206.7.16.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/Wednesday%27s%20Best-08.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/Wednesday%27s%20Best-13.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/Wednesday%27s%20Best-22.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/Wednesday%27s%20Best-26.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/DecentralizedWeb20160607pt2_0260.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/TBL%20and%20Cory%20debate%206-7--16.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/Arms%20Raised%20Group%20Shot%20Builders%20Day.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/DecentralizedWeb20160607pt2_0276.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/DecentralizedWeb20160607pt1_0498.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/DecentralizedWeb20160607pt1_0399.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/DecentralizedWeb20160607pt1_0212.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/DecentralizedWeb20160607pt1_0377.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/DecentralizedWeb20160607pt2_0269.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/DecentralizedWeb20160608pt2_0424.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/Candida%20and%20WebTorrent.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/Virtual%20Reality%20at%20Meetup.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/Dwalu%20%26%20Richard%20Stallman%206-9-16.jpg);"></div>

      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/WED-BEST-01.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/WED-BEST-02.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/WED-BEST-05.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/WED-BEST-06.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/WED-BEST-10.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/WED-BEST-14.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/WED-BEST-15.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/WED-BEST-23.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/WED-BEST-25.jpg);"></div>

      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/IA-first-day-picks-01.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/IA-first-day-picks-02.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/IA-first-day-picks-03.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/IA-first-day-picks-04.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/IA-first-day-picks-06.jpg);"></div>
      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/IA-first-day-picks-13.jpg);"></div>

      <div class="Wallop-item" data-style="background-image: url(/static/img/slideshow/brewster-kahle-tim-berners-lee.jpg);"></div>


    </div>
  <span class="Wallop-buttonPrevious js_prev prev">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#4a90e2" d="M302.67 90.877l55.77 55.508L254.575 250.75 358.44 355.116l-55.77 55.506L143.56 250.75z"/></g></svg>
  </span>

  <span class="Wallop-buttonNext js_next next">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#4a90e2" d="M199.33 410.622l-55.77-55.508L247.425 250.75 143.56 146.384l55.77-55.507L358.44 250.75z"/></g></svg>
  </span>
</div>


<script>
  (function(){
    var setupSlider = function() {
      var wallopEl = document.querySelector('.Wallop');
      var slider = new Wallop(wallopEl);
      var autoPlayMs = 3000;
      var nextTimeout;
      var loadNext = function() {
        var nextIndex = (slider.currentItemIndex + 1) % slider.allItemsArray.length;
        slider.goTo(nextIndex);
      }
      nextTimeout = setTimeout(function() { loadNext(); }, autoPlayMs);
      slider.on('change', function() {
        clearTimeout(nextTimeout);
        nextTimeout = setTimeout(function() { loadNext(); }, autoPlayMs);
      });
    };

    var sliderEl = document.getElementById('js-slider');
    var isSliderInitted = false;

    var waypoint = new Waypoint({
      element: sliderEl,
      offset: 'bottom-in-view',
      handler: function() {
        if (isSliderInitted === false) {
          isSliderInitted = true;
          var els = document.querySelectorAll('.Wallop-item');
          for (var i = 0; i < els.length; i++) {
            els[i].setAttribute('style', els[i].getAttribute('data-style'));
          };
          setupSlider();
        }
      }
    });

  })();

</script>
