<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Decentralized Web Summit 2018: Global Visions / Working Code</title>
        <meta name="description" content="Decentralized Web Summit 2018: Global Visions / Working Code. We invite you to join us at the Decentralized Web Summit!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="https://www.decentralizedweb.net/static/img/fb2018.png">
        <meta property="og:url" content="https://www.decentralizedweb.net">
        <meta property="og:title" content="Decentralized Web Summit 2018: Global Visions / Working Code">
        <meta property="og:description" content="We invite you to join us at the Decentralized Web Summit!"/>
        <link rel="canonical" href="https://www.decentralizedweb.net">
        <link rel="stylesheet" href="/static/css/main.css">
        <!-- <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700,300italic,400italic' rel='stylesheet' type='text/css'> -->
        {% if page.metadata.noindex %}
          <meta name="robots" content="noindex">
        {% endif %}
    </head>
    <body class="page-{{title}}">

        <div id="header-wrapper">
          {% include "dwebsummit/_header.html" %}
        </div>

        <div id="main-body" class="main-body">
          {% block body %}{% endblock %}
        </div>

        {% include "dwebsummit/_footer.html" %}
    </body>
</html>
