{% extends 'dwebsummit/layout.html' %}

{% block body %}
<div>
  <section>
    <div >
      <h2>Builders Day</h2>
      {{text_fields.get(name='Builders Day').value|safe}}
    </div>
  </section>
  <!-- People -->
  <div class="row">
    <section>
      <h3>Coming to Builders Day</h3>

      <div class="grid people full-list">
      {% for attendee in people.filter(is_attending_builders_day=True) %}
        <div class="small-col js-bio-unit">
          <img src="{{attendee.image.thumbnail.url}}" />
          <div class="name">{{attendee.name}}</div>
          <div class="subtitle">{{attendee.subtitle}}</div>
          <div class="hidden-bio">
            <div>
              <div class="modal-image"><img src="{{attendee.image.thumbnail.url}}" /></div>
              <div class="modal-name">{{attendee.name}}</div>
              <div class="modal-subtitle">{{attendee.subtitle}}</div>
              <div>{{attendee.bio|safe}}</div>
            </div>
          </div>
        </div>
      {% endfor %}
    </section>
  </div>
  <!-- End Section F -->
  </div>
{% endblock %}
