{% extends 'dwebsummit/page-templates/text_page.html' %}
{% import 'dwebsummit/_macro_people_grid.html' as macro_people_grid %}

{% block extra_content %}
<div class="row">
  <section>
    <div class="schedule-toc">
      <div>Jump to:<br/></div>
      <!-- <div><a href="#schedule">Schedule</a></div> -->
      <div><a href="#people">People</a></div>
      <div><a href="#science-fair">Science Fair</a></div>
    </div>
  </section>
</div>

<!-- People -->
<div class="row">
  <section id="people">
    <h3>Coming to Builders Day</h3>
    <div class="people-small smaller-container">
      {{ macro_people_grid.people_grid(people.filter(is_attending_builders_day=True)) }}
    </div>
  </section>
</div>

<!-- projects -->
<div class="row">
  <section id="science-fair">
    <h3>Science Fair</h3>
    {% include 'dwebsummit/_projects_list.html' %}
  </section>
</div>

{% endblock %}
