{% extends 'dwebsummit/layout.html' %}

{% block body %}
<div>
  <section>
    <h1>Logistics</h1>

    <div class="grid">
      <div class="unit half logistics-location">
        <h3>Opening Night Party & Friday Hangout</h3>
        <div class="location-address">
          <a href="https://gc.synxis.com/rez.aspx?Hotel=59681&Chain=15564&arrive=7/30/2018&adult=1&child=0&group=073018IAD&BRAND=JV&template=JV_RBE&shell=JV_RBE">
            <img class="w100" src="/static/img/ia-facade-night.jpg" alt="Internet Archive" aria-hidden="true" />
            <h4 class="one-line-top-margin">Internet Archive</h4>
            <span>300 Funston Avenue, San Francisco, CA</span>
          </a>
        </div>
        <p>The Internet Archive is located at 300 Funston Avenue in the Richmond District of San Francisco, four miles west of downtown. Our neighborhood, bordered by the Presidio to the north and Golden Gate Park to the south, is a melting pot of cultures with a plethora of eateries, shops, and bookstores. The building itself, formerly a Christian Science church, now houses petabytes of data — including images, texts, music, software and more.
        </p>
      </div>
      <div class="unit half logistics-location">
        <h3>Summit</h3>
        <div class="location-address">
          <a href="http://maps.google.com/maps?q=The+San+Francisco+Mint%2C+88+5TH+Street%2C+San+Francisco%2C+CA">
            <img src="/static/img/the-mint-photo.jpg" alt="The San Francisco Mint" aria-hidden="true" />
            <h4 class="one-line-top-margin">The San Francisco Mint</h4>
            88 5th Street, San Francisco, CA
          </a>
        </div>
        <p>The historic SF Mint lies in the very heart of downtown San Francisco, a coin toss from the Westfield Center and Union Square.  Located at 5th and Mission Streets, this Greek Revival building once held one-third of all the gold reserves in the US. This is where gold bullion was transformed into the coin of the realm. Nicknamed “The Granite Lady,” the Mint is walking distance from the Powell or Montgomery BART stations, the TransBay Bus Terminal, and many different of MUNI lines. The Mission Street Garage is just across the street, but all-day parking there is $25+ so we encourage you to take public transportation in.</p>
      </div>
    </div>

  </section>
</div>

<section>

  <h1>Recommended Accommodations – near Internet Archive</h1>

  <div class="grid">

    <div class="unit one-third">
      <a href="https://gc.synxis.com/rez.aspx?Hotel=59681&Chain=15564&arrive=7/30/2018&adult=1&child=0&group=073018IAD&BRAND=JV&template=JV_RBE&shell=JV_RBE">
        <img src="/static/img/hotels/kabuki2-c.jpg" alt="Hotel Kabuki" aria-hidden="true" />
        <h3 class="one-line-top-margin">Hotel Kabuki</h3>
      </a>
      <p>
        The Hotel Kabuki is a recently renovated, hip and chic boutique hotel located in the heart of Japantown in San Francisco. The Kabuki is located a quick bus ride and an even quicker rideshare/cab away from the Internet Archive. Address: 1625 Post Street, San Francisco.<br>
        <br>
        <a href="https://gc.synxis.com/rez.aspx?Hotel=59681&Chain=15564&arrive=7/30/2018&adult=1&child=0&group=073018IAD&BRAND=JV&template=JV_RBE&shell=JV_RBE">The Hotel Kabuki is happy to provide Decentralized Web Summit attendees discounted rates, starting at $249</a>.<br>
        <br>
        1625 Post Street, San Francisco CA<br>
        Contact: (415) 360-3200<br>
        <a href="https://goo.gl/maps/6PtnNYfZmM52">See Map</a>
      </p>
    </div>

    <div class="unit one-third">
      <a href="https://hoteldrisco.com/">
        <img src="/static/img/hotels/hoteldrisco-c.jpg" alt="Hotel Drisco" aria-hidden="true" />
        <h3 class="one-line-top-margin">Hotel Drisco</h3>
      </a>
      <p>
        Located atop San Francisco's chic Pacific Heights neighborhood, Hotel Drisco is known for their elegant rooms and European-style breakfast buffet.<br>
        <br>
        2901 Pacific Avenue, San Francisco CA<br>
        Contact: (800) 634-7277<br>
        <a href="https://goo.gl/maps/GABwW8Moxnx">See Map</a>
      </p>
    </div>

    <div class="unit one-third">
      <a href="https://lalunainn.com/">
        <img src="/static/img/hotels/laluna.jpg" alt="La Luna Inn" aria-hidden="true" />
        <h3 class="one-line-top-margin">La Luna Inn</h3>
      </a>
      <p>
        This quaint hotel in the Marina District is close to exquisite restaurants, shopping and the beaches at Crissy Field.<br>
        <br>
        2599 Lombard Street, San Francisco CA<br>
        Contact: (415) 346-4664<br>
        <a href="https://goo.gl/maps/6ExsV8zeKAo">See Map</a>
      </p>
    </div>
  </div>

</section>
<section>

  <!-- begin mint section -->
  <h1>Recommended Accommodations – near The San Francisco Mint</h1>

  <div class="grid">
    <div class="unit one-third">
      <a href="http://www.intercontinentalsanfrancisco.com/">
        <img src="/static/img/hotels/intercontinental.jpg" alt="InterContinental" aria-hidden="true" />
        <h3 class="one-line-top-margin">InterContinental</h3>
      </a>
      <p>
        The InterContinental San Francisco is a luxury hotel, located within easy walking distance of The Mint, Union Square, premium shopping areas, a diverse collection of trendy and upscale restaurants and bars, and a number of major San Francisco tourist attractions.<br>
        <br>
        888 Howard Street, San Francisco<br>
        <a href="https://goo.gl/maps/GYRvzcA4wwn">See Map</a><br>
        <br>
        The rate for the guest rooms at the Intercontinental will be $299.00 single/double occupancy, per night.  There will be an additional person charge of $30.00 for each occupant for triple occupancy. You will need to book by July 9, 2018.  Individual cancellations must be made 48 hours prior to the date of arrival in order for individuals or the company to avoid charge.  Reservations can only be cancelled by calling the hotel directly and obtaining a cancellation number from a reservationist.  Individuals will be responsible for their own room, tax and incidental charges, which will be paid upon check-out. <br>
        <br>
        <h3>How to book</h3>
        Contact the Reservations Department at 1-866-781-2364 and identify yourself as a participant of the Internet Archive - July 30, 2018 to August 3, 2018 group in order to receive the negotiated rates.<br>
        <br>
        <h4>Booking Link Instructions</h4>
        <ul>
          <li>
            <a href="https://www.ihg.com/intercontinental/hotels/us/en/san-francisco/sfohb/hoteldetail?qAdlt=1&qBrs=6c.hi.ex.rs.ic.cp.in.sb.cw.cv.ul.vn.ki.va.sp.nd.ct&qChld=0&qFRA=1&qGRM=0&qGrpCd=IT8&qIta=99801505&qPSt=0&qRRSrt=rt&qRef=df&qRms=1&qRpn=1&qRpp=20&qSHp=1&qSmP=3&qSrt=sDD&qWch=0&srb_u=1&icdv=99801505&setPMCookies=true">Click on the booking link </a>
          </li>
          <li>
            Click on “BOOK NOW”
          </li>
          <li>It will automatically populate to “todays” current date; however, the booking code is noted; Please click your proper arrival/departure dates and click on “SEARCH”
          </li>
          <li>
            It will then take you to the page with the correct group rate populated and you will then click on “BOOK THIS ROOM” <br>
              Note that if extended shoulder nights outside the block are entered, the group rate may not always be offered. <br>
          </li>
        </ul>

      </p>
    </div>

    <div class="unit one-third">
      <a href="https://thepickwickhotel.com/">
        <img src="/static/img/hotels/thepickwick.jpg" alt="Pickwick Hotel" aria-hidden="true" />
        <h3 class="one-line-top-margin">Pickwick Hotel</h3>
      </a>
      <p>
        The historical landmark Pickwick Hotel, located directly across the street from The Mint, offers affordable stylish and sophisticated accommodations. Enjoy a drink at their intimate SOMA Restaurant & Bar, treat yourself in one of their three restaurants, or choose from dozens of restaurants, or activities that surround the hotel.<br>
        <br>
        85 5th Street, San Francisco<br>
        <a href="https://goo.gl/maps/V7jSQeP3Qdy">See Map</a>
      </p>
    </div>

    <div class="unit one-third">
      <a href="https://www.haiyi-hotels.com/thegoodhotel/">
        <img src="/static/img/hotels/good_hotel.jpg" alt="Good Hotel" aria-hidden="true" />
        <h3 class="one-line-top-margin">Good Hotel</h3>
      </a>
      <p>
        Dedicated to a more eco-friendly experience, the Good Hotel is proof that living green and living well can go hand in hand. This slightly more budget-conscious hotel is located a few short blocks away from The Mint. Free wifi is provided in all rooms and social areas, coffee & tea served fresh each morning, you will have access to a heated outdoor pool and fitness room at their sister hotel across the street, and complimentary bicycles for exploring San Francisco are provided.<br>
        <br>
        112 7th Street, San Francisco<br>
        <a href="https://goo.gl/maps/VCFeX4eNMmx">See Map</a>
      </p>
    </div>
  </div>


  <!-- end mint section -->
</section>

<section>
  <p>
    <i class="info-icon material-icons">info</i>
    We also recommend <a href="https://www.airbnb.com/">Airbnb</a>, <a href="https://www.vrbo.com">VRBO</a>, and <a href="https://embassynetwork.com/locations/redvic/stay/">The Red Victorian</a> as some cost-cutting alternatives, especially if you’re interested in sharing accommodations with other conference attendees.
  </p>
</section>


<section class="pb-heavy">
  <h1>Transit</h1>
  <div class="grid">
    <div class="unit one-third">
      <h3>Public Transportation</h3>
      San Francisco is serviced by an extensive network of <a href="https://www.sfmta.com/getting-around/transit">Muni</a> busses and <a href="https://www.bart.gov/">BART</a> trains. The <a href="http://tripplanner.transit.511.org/mtc/XSLT_TRIP_REQUEST2?language=en">511 Trip Planner</a> is a helpful resource to navigate the Bay Area.
    </div>
    <div class="unit one-third">
      <h3>Ridesharing Options</h3>
      We’re big fans of sharing services, so we suggest programs like <a href="https://www.uber.com/ride/">Uber</a> or <a href="https://www.lyft.com/cities/san-francisco">Lyft</a>.
    </div>
    <div class="unit one-third">
      <h3>Parking</h3>
      Most parking near Internet Archive is either metered or two-hour parking, but there are also a few parking lots. See this <a href="/static/img/2016-04-06-Parking_Map.pdf">Parking Map</a>.
    </div>
  </div>


</section>
{% endblock %}
