{% extends 'dwebsummit/layout.html' %}
{% import 'dwebsummit/_macro_people_grid.html' as macro_people_grid %}
{% import 'dwebsummit/_macro_related_grid.html' as macro_related_grid %}
{% import 'dwebsummit/_macro_video_embed.html' as macro_video_embed %}

{% block body %}
<div class="text-page">

  <section class="full pt0">
    <h1>{{object.title}}</h1>

    {% if object.banner_image %}
      <img class="banner-image render-pixel" src="{{object.banner_image.banner_d.url}}" />
    {% endif %}

    {% block before_body_text %}{% endblock %}

    <div class="page-body-contents">
      {{object.body_text|safe}}
    </div>
  </section>

  {% block after_top_section %}{% endblock %}

  {% if object.video_set and object.video_set.count() %}
    <section>
      <h1>Related videos from the summit</h1>

      {% for video in object.video_set.all() %}
        <div>
          <h4>
            <a
              href="{{video.page_url_abs}}"
              title="View video permalink page"
            >{{video.title}} &gt;</a>
          </h4>
          {{ macro_video_embed.embed(video) }}
        </div>

      {% endfor %}
    </section>
  {% endif %}

  {% if object.people.count() %}
  <div class="row">
    <section class="">
      <div class="people-small smaller-container">
        {{ macro_people_grid.people_grid(object.people.all()) }}
      </div>
    </section>
  </div>
  {% endif %}

  {# this template is used with other duck-typed classes that don't have the prev field #}
  {% if object.prev %}
    {% set prev_page = object.prev.first() %}
    {% if prev_page or object.next_page %}
    <div class="row">
      <section id="page-nav" class="full">
        <div>
        {% if prev_page %}
          ← <a href="{{prev_page.page_url_abs}}">{{prev_page.title}}</a>
        {% endif %}
        </div>
        <div>
        {% if object.next_page %}
          <a href="{{object.next_page.page_url_abs}}">{{object.next_page.title}}</a> →
        {% endif %}
        </div>
      </section>
    </div>
    {% endif %}
  {% endif %}

  {% if object.related_pages.count() %}
  <div class="row">
    <section id="related" class="">
      {{ macro_related_grid.related_grid(object.related_pages.exclude(is_published=False).exclude( page_url='').order_by('-dwebsummit_admin_page_related_pages.id')) }}
    </section>
  </div>
  {% endif %}

  {% block extra_content %}{% endblock %}

</div>
{% endblock %}
